<!doctype html>
<html lang="pt-br">
<head th:replace="~{base :: head('Submit')}"></head>
<body>
	<div th:replace="~{base :: principal()}"></div>
	<div th:replace="~{base :: header('submit')}"></div>
	
	<div class="container">
	
	<div class="row justify-content-center mt-4">
		<h1 class="col-auto display-5">
			Submit an image!
		</h1>
	</div>
	
	<div class="row justify-content-center mt-4">

		<div class="col-6 card mb-3">
			<div class="card-body">
				<form id="form" th:object=${imageForm} th:action="@{/submit}" method="post">
					
					<div class="mb-3">
						<label for="*{author}">Author</label>
						<input th:field="*{author}" th:errorclass="is-invalid" class="form-control" type="text" 
						placeholder="the author of the image">
						<div th:errors="*{author}" class="invalid-feedback">Erros</div>
					</div>
					
					<div class="mb-3">
						<label for="*{title}">Title</label>
						<input th:field="*{title}" th:errorclass="is-invalid" class="form-control" type="text" 
						placeholder="the image title">
						<div th:errors="*{title}" class="invalid-feedback">Erros</div>
					</div>
					
					<div class="mb-3">
						<label for="*{url}">Image url</label>
						<input th:field="*{url}" th:errorclass="is-invalid" class="form-control" type="text" 
						placeholder="the image url">
						<div th:errors="*{url}" class="invalid-feedback">Erros</div>
					</div>
					
					<div class="mb-3">
						<label for="*{font}">Font</label>
						<input th:field="*{font}" th:errorclass="is-invalid" class="form-control" field="font" name="font" type="text" 
						placeholder="the image website link">
						<div th:errors="*{font}" class="invalid-feedback">Erros</div>
					</div>
					
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		
		<div class="col-auto card mb-3 ms-4" style="width: 18rem;">
				
			<div class="card-img-top image-container mt-3 p-3"></div>		
			
			<div class="card-body">
				<h5 class="card-title" aria-hidden="true">
					<span class="placeholder col-6 bg-secondary"></span>
				</h5>
				<h6 class="card-subtitle mb-3" aria-hidden="true">
					<span class="placeholder col-6 bg-secondary"></span>
				</h6>
				<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
			</div>
					
		</div>
		
	</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>
</html>